[submodule "esp32_midi/flasher"]
	path = esp32_midi/flasher
	url = ../../0xFEEDC0DE64/kicad-esp32-usb-cflasher.git
[submodule "esp32_midi/espressif-library"]
	path = esp32_midi/espressif-library
	url = ../../espressif/kicad-libraries.git
[submodule "esp32_midi/usb_c"]
	path = esp32_midi/usb_c
	url = ../../0xFEEDC0DE64/kicad-usb-c.git
